body,td,th {
 font-family: Arial, Helvetica, sans-serif;
 font-size: 100px;
 color: #272424;
}
body {
 margin-left: 100px;
 margin-top: 100px;
 margin: right 100px;
 margin: bottom 10px;
 padding: 100px,100px;
}
a:link {
 color: #141313;
 text-decoration: blue;
}
a:hover {
 text-decoration: underline;
 color: #000000;
}
a:active {
 text-decoration: none;
 color: #000000;
}
img{
    width: 20%;
    height: 10%;
}
